body {
  margin: 0;
  padding: 0;
}

.container {
  border: 4px solid black;
  background-color: rgb(238, 238, 238);
  /* width: 500px; */
  /* height: 300px; */
  margin: 100px auto;
  /* Aqui empieza el grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  /* gap: 5px; */

  grid-auto-rows: 200px;
  grid-auto-flow: column;

  & .item {
    background-color: rgb(207, 42, 42);
    border: 1px solid rgb(95, 42, 42);
    font-size: xx-large;
  }
  & .item:hover {
    opacity: 1;
    background-color: rgba(197, 119, 119, 1);
    z-index: 1;
  }

  .item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .item-2 {
    grid-column: 4/6;
    grid-row: 1/4;
  }



  .iteme-5 {
    grid-column:span 4;
    grid-row: span 4;
  }

  .item-6 {
    grid-column: 3/6;
    grid-row: 4/6;
  }
  .item-3 {
    /* grid-area: row-start col-star row-end col-end; */
    grid-area: 3 / 2 / 5 / 5;
  }
}
